body {
	background-image: url("./background.jpg");
	color: black;
	font-family: 'Montserrat', sans-serif;
}

.movie-app > .row {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.image-container {
	position: relative;
  	width: 300px;
	transition: transform 0.2s;
	margin: 10px;
}

.image-container img {
	width: 100%;
	height: auto;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(126, 125, 111, 0.9);
	width: 92%;
	height: 50px;
	bottom: 0;
	transition: 0.5s ease;
	opacity: 0;
	font-size: 16px;
	padding: 10px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
}

.overlay svg {
	transition: fill 0.2s;
}

.overlay:hover svg {
	fill: #ffcc00;
}

.mr-2 {
	color: white;
	font-weight: bold;
}

.overlay-details {
	position: absolute;
	background: rgba(126, 125, 111, 0.5);
	width: 93%;
	height: 100%;
	top: 0;
	left: 0;
	color: white;
	padding: 30px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
	overflow: auto;
}

.overlay-details::-webkit-scrollbar {
	width: 10px; /* Adjust the width of the scrollbar */
  }
  
  .overlay-details::-webkit-scrollbar-track {
	background-color: #f1f1f1; /* Color of the scrollbar track */
  }
  
  .overlay-details::-webkit-scrollbar-thumb {
	background-color: black; /* Color of the scrollbar thumb */
  }
  
  .overlay-details::-webkit-scrollbar-thumb:hover {
	background-color: #555; /* Color of the scrollbar thumb on hover */
  }

  .row {
	margin-left: 20px;
  }